.green {
    color: #bbcc44;
}

.bg-green {
    background-color: #bbcc44;
}

.orange {
    color: #dd7711;
}

.bg-orange {
    background-color: #dd7711;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}