.green-fest {
    color: #75a22c;
}

.bg-white {
    background-color: white;
}

.bg-brown-cerf {
    background-color: #7d3d12;
}

.white {
    color: white;
}
.break-white {
    color: #f0f4b7; /*blanc cassé*/
}

.bg-break-white {
    background-color: #f0f4b7; /*blanc cassé*/
}

.light-green {
    color: #cbdf9a; /*vert clair*/
}

.bg-light-green {
    background-color: #cbdf9a; /*vert clair*/
}

.green {
    color: #9fb14e; /*vert*/

}

.bg-green {
    background-color: #9fb14e; /*vert*/

}

.dark-green {
    color: #716e45; /*vert foncé*/
}

.bg-dark-green {
    background-color: #716e45; /*vert foncé*/
}

.brown {
    color: #955a32; /*marron*/
}

.bg-brown {
    background-color: #955a32; /*marron*/
}
