@font-face {
    font-family: "lemon";
    src: url("../fonts/lemon_milk/LemonMilk.otf") format("truetype");
}

@font-face {
    font-family: "lemon-bold";
    src: url("../fonts/lemon_milk/LemonMilkbold.otf") format("truetype");
}

@font-face {
    font-family: "lemon-italic";
    src: url("../fonts/lemon_milk/LemonMilkitalic.otf") format("truetype");
}