main {
    margin-top: -20px;
}

.d-flex-center
{
    display: flex;
    justify-content: center;
}

.d-flex-v-center {
    align-items: center;
}

.h-100 {
    min-height: 100px;
}

/*********NAVBAR********/
@media screen and (max-width: 767px) {
    .navbar-brand {
        padding-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .logo-round {
        width: 150px;
        position: absolute;
    }

    .logo-left {
        left: calc(50% - 200px);
    }

    .logo-right {
        right: calc(50% - 160px);
    }

    .navbar-brand-centered
    {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }

    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered
    {
        margin-left: -80px;
    }
}

.navbar-nav.brown > li > a {
    color:#955a32;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-nav.brown:hover > li > a {
    color:#716e45;
}

/*********FIN NAVBAR********/

/**********ARTISTS**********/

@keyframes hover-animation { 
    100% {
        height: 100%;
        opacity: 1;
    }
}

#artists .hover-artist:hover .profil-description{
    animation: hover-animation 2s;  
    animation-fill-mode: forwards;
}

.profil-description {
    height: 100%;
    width:100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    padding: 5px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #9fb14e;
}

#artists .gallery p {
    font-size: calc(0.4em + 1.2vw);
    color:white;
}

#artists .gallery h3 {
    color: white;
    font-size: calc(1em + 1.2vw);
}


#artists img {
    width: 100%;
}

#artists .profil-artist {
    display: flex;
    justify-content: center;
    align-items: center;
}

#artists .hover-artist {
    position: relative;
}

#artists .info-artist {
    position: absolute;
    top:15px;
    left: 15px;
}

#artists .info-artist {
    color:gainsboro;
    font-size: 20px;
}

.carousel-caption {
    position:static;   
    background-color: #9fb14e;
    padding-left:10px;
    padding-right:10px;
    height: 200px;
}

#artists .carousel-caption h3 {
    margin-top: 0;
    font-size: calc(20px + 1.2vw);
}

#artists .carousel-caption p {
    font-size: calc(10px + 1.2vw);
}

/********** END ARTISTS**********/
