main {
    margin-top: 50px;
}

section {
    padding: 50px;
    box-shadow: 0px 0px 5px #000;
}

h1, h2, h3 {
    font-family: "lemon";
}
.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.d-flex-center
{
    display: flex;
    justify-content: center;
}

.d-flex-start {
    display: flex;
    justify-content: start;
}

.d-flex-end {
    display: flex;
    justify-content: end;
}

.d-flex-v-center {
    align-items: center;
}

.h-100 {
    min-height: 100px;
}

/*********NAVBAR********/
@media screen and (max-width: 767px) {
    .navbar-brand {
        padding-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .logo-round {
        width: 150px;
        position: absolute;
    }

    .logo-left {
        left: calc(50% - 200px);
    }

    .logo-right {
        right: calc(50% - 160px);
    }

    .navbar-brand-centered
    {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;
    }

    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered
    {
        margin-left: -80px;
    }
}

.navbar-nav.brown > li > a {
    color:#955a32;
    font-weight: bold;
    font-size: 1.2em;
}


.navbar-nav.brown:hover > li > a {
    color:#716e45;
}
.navbar{
    box-shadow: 0px 0px px #000;
}
/*********FIN NAVBAR********/


/********** INTRO *********/

#intro {
    margin-top: 20px;
    padding: 0;
}

#intro video {
    display: block;
}

#intro > div {
    position: relative;
    width: 100%;"
}

#intro > div > div {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#artistsPeview {
    display: flex;
    justify-content: center;
}

#artistsPeview a {
    color: white;
    font-weight: bold;
    font-size: 3vw;
}

#btnProgram {
    display: flex;
    justify-content: center;
}

#hook {
    display: flex;
    justify-content: center;
}

#myVideo {
    width:100%;
}

#socialIcons {
    display: flex;
    justify-content: flex-end;
}

#socialIcons ul {
    padding: 20px;
}

#bigTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bigTitle >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bigTitle h1 {
    order: 2;
    font-size: 10vw;
    line-height: 0.9;
    margin: 0;
}

#bigTitle h2 {
    order: 1;
    font-size: 4vw;
    line-height: 0.9;
    align-self: flex-start;
    margin: 0;
}

#bigTitle h3 {
    order: 3;
    font-size:4vw;
    line-height: 0.9;
    align-self: flex-end;
    margin: 0;
}

.video {
    max-height: 720px;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
}

.btn-intro {
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid #ff6600;
    color: #ff6600;
    font-weight: bold;
}

.btn-intro:hover {
    color: white;
    background-color: #ff6600;
}
/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#edition {
    position: relative;
}

#edition > div {
    position: relative;
    top: 30px;
    right: calc(-30px + 10%);
}

#town {
    position: relative;
}

#town > div {
    position: relative;
    top: -30px;
    left: calc(30px + 10%);
}
#intro > div {
    overflow: hidden;
}

#intro h4 > a {
    color: #ff6600;
    font-weight: bold;
    text-decoration: none;
}

#intro h4:hover > a {
    color: white;
}

/********** END INTRO**********/

/********* PRESENTATION************/

#presentation {
    background-color: #955a32;
    color: white;
}

#presentation .presentation-text {
    text-align: center;
    padding: 15px;
}

#presentation .presentation-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#presentation .presentation-img img {
    margin: 15px;
    width: 90%;
}

/********** END PRESENTATION************/


/**********ARTISTS**********/

@keyframes hover-animation {
    100% {
        opacity: 1;
    }
}

#artists .hover-artist:hover .profil-description{
    animation: hover-animation 1s;
    animation-fill-mode: forwards;
}

.profil-description {
    height: 100%;
    width:100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    padding: 5px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #9fb14e;
}

#artists .gallery p {
    font-size: calc(0.4em + 1.2vw);
    color:white;
}

#artists .gallery h3 {
    color: white;
    font-size: calc(1em + 1.2vw);
}


#artists img {
    width: 100%;
    
}

#artists .profil-artist {
    display: flex;
    justify-content: center;
    align-items: center;
}

#artists .hover-artist {
    position: relative;
}

#artists .info-artist {
    position: absolute;
    top:15px;
    left: 15px;
}

#artists .info-artist {
    color:gainsboro;
    font-size: 20px;
}

.carousel-caption {
    position:static;
    background-color: #9fb14e;
    padding-left:10px;
    padding-right:10px;
    height: 200px;
}

#artists .carousel-caption h3 {
    margin-top: 0;
    font-size: calc(20px + 1.2vw);
}

#artists .carousel-caption p {
    font-size: calc(10px + 1.2vw);
}

/********** END ARTISTS**********/


/********** INFOS ************/
.vw-50 {
    width: 50vw;
    height: 50vw;
}

.vw-50-demi {
    width: 50vw;
    height: calc(40vw / 2);
}

#infos iframe {
    width: 40vw;
    height: calc(40vw / 2);
}
/********** END INFOS ************/

/********* START FORM ***************/
.btn-perso{
    width: 41.5vw;
    margin-top: 10px;
    background-color: #955a32;
    color:white;

}
.btn-perso:hover{

    background-color: #9fb14e;
    width: 41.5vw;
    margin-top: 10px;
    color:white;

}
/********* END FORM ****************/



/********** FOOTER *************/

footer {
    padding: 5px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

footer a:hover {
    color: white;
}

/********** END FOOTER *************/
